
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Toruń Hotel-Walter** | Noclegi | Imprezy | Posiłki - Hotel-Walter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/notify.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/loader.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap-datetimepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/pokoje.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/roomResult.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>



<div class="container">
    <div class="content">
        <a sec:authorize="isAnonymous()" href="/hotel/oHotelu" style="color: white">
            <div class="button1">
                O hotelu
            </div>
        </a>

        <div sec:authorize="isAnonymous()" class="button2">
            <h4>
                Hotel Walter położony jest w zielonej części Torunia, około 5 km od Starego Miasta.
                Oferuje klientom przytulne pokoje, apartamenty oraz wiele innych ciekawych atrakcji.
            </h4>
        </div>
        <a sec:authorize="isAnonymous()" href="/hotel/atrakcje" style="color: white">
            <div class="button3">
                Okoliczne atrakcje
            </div>
        </a>

        <div sec:authorize="isAnonymous()" class="imageHeader" style="position: absolute; width: 100%; top: 70px; z-index: 9997!important;">
            <div style="width: 700px;margin: 0 auto;">
                <img src="/images/hotelwalterlogo22.png"/>
                Odpocznij z nami nad Wisłą, &nbsp;&nbsp;<span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp; <div style="color: white; font-weight: bold; display: inline-block;">+48 56 654 25 83</div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()" class="imageHeader" style="position: absolute; width: 100%; top: 70px; z-index: 9997!important;">
            <div style="width: 500px;margin: 0 auto;">
                <img src="/images/hotelwalterlogo22.png"/>
                &nbsp;&nbsp;&nbsp;witaj w strefie dla pracowników
            </div>
        </div>
        <div id="imageHome" style="height: calc(100% - 65px);">
        </div>


        <div sec:authorize="isAnonymous()" class="aboutHotel">
            <div class="black" style="background-color: rgba(0, 0, 0, 1);">
                <div class="blackContentWrapper">
                    <div class="blackContent" style="font-size: 25px;padding: 20px;">
                        Nasza oferta
                    </div>
                </div>
            </div>

            <div class="offer">
                <a class="offerHref" href="/pokoje/2os">
                    <div class="offerComponent">
                        <div class="offerComponentTittle">
                            &nbsp;&nbsp;<span class="glyphicon glyphicon-menu-hamburger"></span>
                            &nbsp;&nbsp;Pokoje
                        </div>
                        <div class="offerComponentContent">
                            <div class="offerComponentContentText">
                                Zrelaksuj się nad Wisłą, spraw sobie i bliskim przyjemne, kojące chwile na łonie natury, lub korzytając z sauny
                            </div>
                            <img style="border-radius: 5px; margin-top: 5px;" src="/images/oferta.png"/>
                        </div>
                    </div>
                </a>

                <a class="offerHref" href="/gastronomia/restauracja">
                    <div class="offerComponent">
                        <div class="offerComponentTittle">
                            &nbsp;&nbsp;<span class="glyphicon glyphicon glyphicon-cutlery"></span>
                            &nbsp;&nbsp;Gastronomia
                        </div>
                        <div class="offerComponentContent">
                            <div class="offerComponentContentText">
                                Spędzaj przyjemnie czas z rodziną podczas ważnej uroczytości, degustując dania kuchni polskiej,w naszej restauracji
                            </div>
                            <img style="border-radius: 5px; margin-top: 5px;" src="/images/gastro.png"/>
                        </div>
                    </div>
                </a>


                <a class="offerHref" href="/dlafirm/konferencje">
                    <div class="offerComponent">
                        <div class="offerComponentTittle">
                            &nbsp;&nbsp;<span class="glyphicon glyphicon glyphicon-briefcase"></span>
                            &nbsp;&nbsp;Dla firm
                        </div>
                        <div class="offerComponentContent">
                            <div class="offerComponentContentText">
                                Potrzebne jest firmowe szkolenie,konferencja lub zebranie? Wykorzystaj nasze przestronne i funkcjonalne wnętrza
                            </div>
                            <img style="border-radius: 5px; margin-top: 5px;" src="/images/firmy.png"/>
                        </div>
                    </div>
                </a>


            </div>
        </div>

        <div sec:authorize="isAnonymous()" class="black" style="background-color: rgba(0, 0, 0, 1);">
            <div class="blackContentWrapper">
                <div class="blackContent" style="font-size: 25px;padding: 20px;">
                    Więcej informacji
                </div>
            </div>
        </div>
        <div sec:authorize="isAnonymous()" class="secondImageHome">
            <div class="imageCnt2">
                <div class="panel panel-default" style="margin-right: 20px;">
                    <div class="panel-heading" style="text-align: left;">
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>
                        &nbsp;&nbsp;Historia
                    </div>
                    <div class="panel-body">
                        <a href="/hotel/historia"><img style="border-radius: 5px;" src="/images/hotel_torun_walter_032.png"/></a>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: left;">
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-earphone"></span>
                        &nbsp;&nbsp;Skontaktuj się z nami
                    </div>
                    <div class="panel-body" style="display: flex;">
                        <div style="font-size: 20px;float: left;padding-right: 10px;width:285px; height:230px;">
                            ul. Droga Starotoruńska 5a<br>
                            Toruń<br>
                            Kujawsko-Pomorskie<br>
                            87-100<br>
                            +48 56 654 25 62 wew. 10<br>
                            +48 56 654 25 83
                            <a href="https://www.google.pl/maps/dir//Hotel+WALTER,+Droga+Starotoru%C5%84ska+5a,+87-100+Toru%C5%84/@53.0185316,18.5096025,17z/data=!4m15!1m6!3m5!1s0x470336791e7e6efb:0x132d758a0df219ad!2sHotel+WALTER!8m2!3d53.0185316!4d18.5117912!4m7!1m0!1m5!1m1!1s0x470336791e7e6efb:0x132d758a0df219ad!2m2!1d18.5117912!2d53.0185316" class="btnHref"><button  type="button" class="btn btn-warning btn-lg btn-block" style="margin-top: 15px;">Sprawdź dojazd</button></a>

                        </div>
                        <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2400.1016963935986!2d18.509602515377463!3d53.018534806916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470336791e7e6efb%3A0x132d758a0df219ad!2sHotel+WALTER!5e0!3m2!1spl!2spl!4v1508687164408" width="285" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="notify_layer" style="z-index: 99999!important; position: fixed; top: 100px;"></div>

</div>

<div th:replace="fragments/navbar :: navbar"/>
<div th:replace="fragments/modals :: modals"/>

<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.cycle2.min.js}"></script>
<script th:src="@{/js/notify.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/js/bootstrapNotify.js}"></script>
<script th:src="@{/js/basicScripts.js}"></script>



<script th:inline="javascript">

    $(document).ready(function () {
       var errorMessage = [[${errorMessage}]];
       var successMessage = [[${successMessage}]];

       if(errorMessage !== null){
           notify.danger(errorMessage);
       }
       if(successMessage !== null){
           notify.success(successMessage);
       }
    });
</script>

<script>
    $(document).ready(function () {
       var count = 0;
       var images = ["../images/homeSlider/3.jpg", "../images/homeSlider/2.jpg", "../images/homeSlider/4.jpg", "../images/homeSlider/1.jpg"];
       var image = $("#imageHome");

       image.css("background-image", "url("+images[count]+")");
       count++;

       setInterval(function () {
           image.fadeOut(1200, function () {
               image.css("background-image", "url("+images[count++]+")");
               image.fadeIn(1200);
           });
           if(count == images.length){
               count = 0;
           }
       }, 10000);
    });
</script>



</body>
</html>
